<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>this is home page</title>
</head>
<body>
	<section>
		<div class="div container">
			
			<div class="div row">
			
				<div class="col-md-6 offset-md-3">
					
					<div class="my-card mt-2">
					
						<div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
						 	<p th:text="${session.message.content}"></p>
						 	<!-- <th:block th:text="${#session.removeAttribute('message')}"></th:block> -->
						</div>
					
						<div class="container text-center">
							<img style="width: 50px" src="" th:src="@{/image/inscription.png}"  alt="" />
							
						</div>
						<h1 class="text-center">Register here!!</h1>
					
						<form novalidate th:action="@{/do_register}" method="post" th:object="${user}">
						
						<!-- Name Field -->
							<div class="mb-3">
    							<label for="exampleInputEmail1" class="form-label">Your Name</label>
    							
							    <input name="name" type="text" class="form-control" id="name_field"
							    th:classappend = "${#fields.hasErrors('name')?'is-invalid':''}" 
							    placeholder="Enter Your Name"
							    required aria-describedby="emailHelp">
							    
							    <div th:each="e : ${#fields.errors('name')}" th:text="${e}" class="invalid-feedback"></div>
							</div>
							
							<!-- Email Field -->
							<div class="mb-3">
    							<label for="exampleInputEmail1" class="form-label">Your Email</label>
    							
							    <input name="email" type="email" class="form-control" id="email_field" 
							    placeholder="Enter Your Email"
							    th:classappend = "${#fields.hasErrors('email')?'is-invalid':''}"
							    required aria-describedby="emailHelp">
							    
							    <div th:each="e : ${#fields.errors('email')}" th:text="${e}" class="invalid-feedback"></div>
							    
							</div>
							
							<!-- Password Field -->
							<div class="mb-3">
    							<label for="exampleInputEmail1" class="form-label">Your Password</label>
    							
							    <input name="password" type="password" class="form-control" id="password_field" 
							    placeholder="Enter Your Password"
							    th:classappend = "${#fields.hasErrors('password')?'is-invalid':''}"
							    required aria-describedby="emailHelp">
							    
							    <div th:each="e : ${#fields.errors('password')}" th:text="${e}" class="invalid-feedback"></div>
							    
							</div>
							
							<div class="form-group">
							
								<textarea name="about" th:value="${user.about}" placeholder="Enter Something" rows="6" class="form-control"></textarea>
							
							</div>
							
							<div class="form-group form-check">
								<input type="checkbox"
								name="agreement"
								class="form-check-input"
								id="agreement">
								
								<label for="agreement">Agree terms and conditions</label>
							</div>
							
							<div class="container text-center">
								<button type="submit" class="btn bg-primary text-white">Submit</button>
								
								<button type="reset" class="btn btn-warning text-white">reset</button>
							</div>
						
						</form>
					</div>
					
				</div>
				
			</div>
		
		</div>
		
		<script th:inline="javascript">
            window.onload = function() {
                fetch('/remove-session-message', { method: 'POST' });
            };
        </script>
        
	</section>
</body>
</html>